@use "./colors" as colors;

.about {
    display: flex;
    padding-top: 100px;
    background-color: colors.$primary-grey;
}
.about__image {
    display: block;
    max-width: 100%;
}
.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 553px;
    margin-right: 109px;
    margin-left: auto;
}
.about__heading {
    padding-bottom: 32px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 64px;
    color: colors.$primary-white;
}
.about__text {
    padding-bottom: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: colors.$primary-white;
}
@media only screen and (max-width: 1800px) {
    .about__container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 1250px) {
    .about {
        flex-direction: column;
        text-align: center;
    }
    .about__container {
        padding-top: 64px;
        padding-bottom: 64px;
        align-items: center;
        max-width: 553px;
        margin-right: auto;
    }

    .about__image {
        max-width: 1250px;
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .about__heading {
        font-size: 32px;
    }
}
