@use "./colors" as colors;

.contact {
    background-color: colors.$primary-white;
    padding-top: 128px;
    padding-bottom: 128px;
}
.contact-layout {
    display: flex;
    gap: 32px;
}
.contact-form-container {
    display: flex;
    flex-direction: column;
    background-color: #f7f9ff;
    padding: 48px;
    padding-top: 37px;
    padding-bottom: 37px;
    max-width: 664px;
    height: auto;
    border-radius: 8px;
    h2 {
        padding-bottom: 32px;
        font-size: 28px;
        line-height: 42px;
    }
}
.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    div {
        position: relative;
    }
    input,
    textarea {
        padding: 16px 20px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        border: 1px solid #ecedf0;
        border-radius: 2px;
        color: #858993;
        transition: border 0.2s;
    }
    input:hover,
    textarea:hover {
        border: 1px solid #cfd3db;
    }
    input:focus,
    textarea:focus {
        border: 1px solid #8db3ff;
        color: colors.$primary-grey;
        outline: none;
    }
    input:active,
    textarea:active {
        color: colors.$primary-grey;
    }
    .input-filled {
        border: 1px solid colors.$valid;
    }
    .input-error {
        border: 1px solid colors.$error;
    }
    .input-error-notification {
        position: absolute;
        top: 52px;
        left: 10px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: colors.$error;
        opacity: 0;
        transition: opacity 0.2s;
    }
}
.input-container__label {
        position: absolute;
        top: -12px;
        left: 12px;
        padding: 0px 8px;
        background: colors.$primary-white;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #242529;
        opacity: 0;
        transition: opacity 0.2s;
}
.input-medium {
    max-width: 266px;
    max-height: 56px;
    height: 100%;
    width: 100%;
}
.input-textarea {
    max-width: 568px;
    max-height: 200px;
    width: 100%;
    height: 200px;
    resize: none;
    .input-error-notification {
        top:198px;
    }
}
.contact-image-container {
    img {
        display: block;
        border-radius: 8px;
    }
}
.checkbox-container {
    display: flex;
    gap: 5px;
    padding-bottom: 16px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #242529;
    label {
        display: block;
        cursor: pointer;
    }
}
.checkbox-container__label {
    padding-left: 12px;
    opacity:1;
}
.submit-container {
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 1366px) {
    .input-textarea {
        height: 100px;
        .input-error-notification {
            top:98px;
        }
    }
}
@media only screen and (max-width: 1260px) {
    .contact-image-container {
        display: none;
    }
    .contact-form-container {
        max-width: fit-content;
        h2 {
            text-align: center;
        }
    }
    .input-container {
        justify-content: center;
    }
    .input-medium {
        max-width: 400px;
    }
    .input-textarea {
        max-width: 835px;
    }
    .checkbox-container {
        justify-content: flex-start;
        
        max-width: 835px;
        width: 100%;
    }

    .submit-container {
        justify-content: center;
    }
}
@media only screen and (max-width: 935px) {
    .input-textarea {
        max-width: 400px;
    }
    .checkbox-container {
        max-width: 400px;
        align-items: flex-start;
    }
}
