@use "./colors" as colors;

.checkbox__custom {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    font-size: 22px;
}

.checkbox__input{
    position: absolute;
    top: 4px;
    opacity: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
    z-index: 3;
}
.checkbox__checkmark {
    position: absolute;
    top: 4px;
    height: 20px;
    width: 20px;
    border: 1px solid #adb3c0;
    border-radius: 2px;
    background-color: transparent;
    transition: border 0.2s;
    z-index: 2;
}

.checkbox__shadow {
    position: absolute;
    top: -4px;
    left: -8px;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: transparent;
    transition: background-color 0.2s;
    z-index: 1;
}
.checkbox__custom input:hover + .checkbox__checkmark {
    border: 1px solid colors.$primary-color;
}
.checkbox__custom input:hover ~ .checkbox__shadow {
    background-color: #e5eeff;
}
.checkbox__custom input:checked ~ .checkbox__checkmark {
    background-color: colors.$primary-color;
}
.checkbox__custom input:checked ~ .checkbox__checkmark {
    border: 1px solid colors.$primary-color;
}

.checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox__custom input:checked ~ .checkbox__checkmark:after {
    display: block;
}
.checkbox__custom .checkbox__checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid colors.$primary-white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media only screen and (max-width: 1260px) {
    .custom-checkbox .checkmark:after {
        
    }
    .shadow {
        
    }
    .checkmark {
        
    }
}
