@use "./colors" as colors;

.footer__hr {
    width: 100vw;
    border: 1px solid #ecedf0;
    border-top: none;
}
.footer__upper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer__upper-img {
    max-height: 22px;
}
.footer__upper-menu {
    display: flex;
    gap: 48px;
}
.footer__upper-menu-item {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #858993;
    transition: color 0.2s;
}
.footer__upper-menu-item:hover {
    color: colors.$primary-hover;
}
.footer__lower {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer__lower-copywrights {
    display: flex;
    align-items: center;
    gap: 48px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #858993;
}
.footer__lower-copywrights-link {
    transition: color 0.2s;
}
.footer__lower-copywrights-link:hover {
    color: colors.$primary-hover;
}
.footer__lower-socials {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.footer__lower-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$primary-white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    transition: background-color 0.2s;
}
.footer__lower-socials-link:hover {
    background-color: transparent;
}

@media only screen and (max-width: 820px) {
    .footer__upper {
        flex-direction: column;
        align-items: center;
    }
    .footer__upper-menu {
        flex-direction: row;
        align-items: center;
        padding-top: 40px;
    }
    .footer__lower {
        flex-direction: column;
    }
    .footer__lower-copywrights {
        flex-direction: column;
        align-items: center;
    }
    .footer__lower-socials {
        justify-content: center;
        gap: 32px;
        padding-top: 24px;
    }
}
