@use "./colors" as colors;
.header {
    position: fixed;
    border-bottom: 1px solid #eeeeee;
    background-color: colors.$primary-white;
    width: 100%;
    z-index: 10;
    transition: transform 0.2s;
}
.header-hidden {
    transform: translateY(-101px);
}
.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;

    z-index: 10;
    img {
        margin: auto;
        display: block;
    }
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 49px;
    ul {
        display: flex;
        flex-direction: row;
        gap: 48px;
        li {
            font-size: 14px;
            font-weight: 500;
            color: #858993;
            transition: color 0.2s;
        }
        li:hover {
            color: colors.$primary-hover;
        }
    }
    button {
        padding:14px 24px;
    }
}
.hamburger-menu {
    display: none;
    background-color: transparent;
    border: none;
    z-index: 10;
    div {
        margin: 8px;
        width: 50px;
        height: 5px;
        background-color: colors.$primary-color;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 820px) {
    .hamburger-menu {
        display: block;
    }
    .header-menu {
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        background-color: colors.$primary-white;
        top: 90px;
        left: -100%;
        padding-top: 48px;
        padding-bottom: 48px;
        height: 100vh;
        width: 100%;
        transition: left 0.2s;
        ul {
            flex-direction: column;
            align-items: center;
            li {
                font-size: 22px;
            }
        }
    }
    .show-menu {
        left: 0;
    }
    #bar1,
    #bar2,
    #bar3 {
        transition: transform 0.2s;
    }
    .bar1-animation {
        transform: translateY(-100px);
    }
    .bar2-animation {
        transform: rotate(45deg);
    }
    .bar3-animation {
        transform: rotate(-45deg) translateY(-10px) translateX(9px);
    }
}
