@use "./fonts" as fonts;
@use "./header" as header;
@use "./reset" as reset;
@use "./colors" as colors;
@use "./buttons" as buttons;
@use "./about" as about;
@use "./features" as features;
@use "./content" as content;
@use "./testimonals" as testimonals;
@use "./blog" as blog;
@use "./cta" as cta;
@use "./contact" as contact;
@use "./footer" as footer;
@use "./custom-checkbox" as checkbox;

.container {
    width: 100%;
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
}
.fixed-position {
    overflow: hidden
 }
@media only screen and (max-width: 1366px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
